<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0 ">
            <a href="{{ path('app_home') }}" class="logo-header d-inline-flex link-body-emphasis text-decoration-none ">
                e-Cloths
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 ">
            <li>
                <a href="{{ path('app_home')}}" class="nav-link px-2 link-secondary">{{"Nos vêtements"|trans}}</a>
            </li>
            <li>
                <a href="{{ path('app_cart')}}" class="nav-link px-2">{{"Panier"|trans}}</a>
            </li>
        </ul>
        <div class="col-md-3 text-end">
        {% if app.user %}
            <button type="button" class="btn btn-dark rounded-circle"><a href="{{ path('app_profile') }}" title="Mon compte"> <i class="fa-solid fa-address-card" style="color:#FFFFFF;"></i></a></button>
            <button type="button" class="btn btn-dark rounded-circle"><a href="{{ path('app_logout') }}" title="Déconnexion"><i class="fa-solid fa-right-to-bracket" style="color:#FFFFFF;"></i></a></button>
        {% else %}
            <button type="button" class="btn btn-dark rounded-circle me-2"><a href="{{ path('app_login') }}" title="Connexion"><i class="fa-solid fa-user" style="color:#FFFFFF;"></i></a></button>
        {% endif %}
        </div>
    </header>
</div>